.headerContainer {
  height: 5rem;
  border: 2px #29292E solid;
}

.headerContent {
  max-width: 1120px;
  margin: 0 auto;
  height: 5rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    nav {
      list-style: none;

      display: flex;
      align-items: center;

      margin-left: 5rem;

      a {
        display: inline-block;
        position: relative;
        line-height: 5rem;
        height: 5rem;
        color: var(--gray-300);
        cursor: pointer;

        transition: 0.2s color;

        &:first-child {
          margin-right: 2rem;
        }

        &:hover {
          color: var(--white);
        }

        &.active {
          color: var(--white);
          font-weight: bold;
        }

        &.active::after {
          content: '';
          position: absolute;
          height: 3px;
          border-radius: 3px 3px 0 0;
          width: 100%;
          bottom: 4px;
          left: 0;
          background: var(--yellow-500);
        }
      }
    }
  }
}

.githubContainer {
  background: #1F2729;
  border-radius: 100px;
  padding: 1.5rem 0.75rem;
  max-height: 2.5rem;

  margin-left: 1rem;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    margin-left: 1rem;
  }
}